.timer-app-container {
  background-image: linear-gradient(to bottom right, #ffffff, #cffcf1, #defafe);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .timer-app-container {
    background-image: linear-gradient(to top right, #ffffff, #cffcf1, #defafe);
  }
}

.timer-app-inner-container {
  width: 80%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digital-timer-heading {
  font-family: 'Roboto';
  font-size: 36px;
  color: #0f172a;
}

.timer-app-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-elapsed-image-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  height: 260px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.timer-container {
  background-color: #ffffff;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  font-family: 'Roboto';
  font-size: 30px;
  color: #00d9f5;
  font-weight: 900;
  margin: 0px;
}

.status-text {
  font-family: 'Roboto';
  font-size: 14px;
  color: #0f172a;
  font-weight: 400;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .timer-app-bottom-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .timer-elapsed-image-container {
    height: 500px;
    width: 500px;
  }

  .timer-container {
    height: 200px;
    width: 200px;
    border-radius: 100px;
  }

  .time {
    font-size: 52px;
  }

  .status-text {
    font-size: 24px;
  }
}

.timer-limit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-pause-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.play-pause-button {
  border-width: 0px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.reset-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-button {
  border-width: 0px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button {
  background-color: transparent;
  border-width: 0px;
}

.play-pause-icon {
  height: 36px;
  width: 36px;
}

.reset-icon {
  height: 36px;
  width: 36px;
}

.play-pause-text {
  font-family: 'Roboto';
  font-size: 20px;
  color: #0f172a;
  font-weight: 500;
  margin-left: 12px;
}

.reset-text {
  font-family: 'Roboto';
  font-size: 20px;
  color: #0f172a;
  font-weight: 500;
  margin-left: 12px;
}

.timer-limit-text {
  font-family: 'Roboto';
  font-size: 14px;
  color: #0f172a;
}

.limit-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minus-button {
  border-width: 0px;
  background-color: transparent;
  font-size: 36px;
  margin-right: 8px;
  outline: none;
  cursor: pointer;
}

.set-time {
  font-family: 'Roboto';
  font-size: 30px;
  color: #0f172a;
  font-weight: 700;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-position: center;
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 8px;
}

.plus-button {
  border-width: 0px;
  background-color: transparent;
  font-size: 36px;
  outline: none;
  cursor: pointer;
}
